page-home {

  table {
    border-collapse: collapse;
    border: 2px solid rgb(100, 100, 100);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.25rem;
  }

  td,
  th {
    border: 1px solid rgb(100, 100, 100);
    padding: 5px 5px;
  }

  td {
    text-align: left;
  }

  .header_class {
    height: 20px;
  }

  .content_class {
    height: 40px;
  }

  .product_data_input
    {
    	line-height: 10px;
      width: 150px;
    	background-color : #d1d1d1;
    }

    page-transport {
 
    	.product_list {
      		max-height: 350px;
      		overflow-y: scroll;
    	}
	}

	.ion-list-viewport {
  		max-height: 200px;
  		width:100%;
  		display:block !important;
  		overflow:scroll !important;
	}
}
