page-home {

  .cart_button {
    height: 40px;
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color : #f6f6f6;
  }

  table.table_1 {
    border-collapse: collapse;
    border: 2px solid rgb(100, 100, 100);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.25rem;
  }

  table.table_2 {
    /*table-layout: fixed;*/
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.25rem;
  }

  table.table_1 td,
  th {
    border: 1px solid rgb(100, 100, 100);
    text-align: left;
    padding: 5px 5px;
  }

  table.table_2 td,
  th {
    /*border: 1px solid rgb(100, 100, 100);*/
    text-align: center;
    padding: 5px 5px 5px 5px;
  }

  .header_class {
    height: 20px;
  }

  .content_class {
    height: 40px;
  }

  .product_data_input_table {
    /*max-width: 450px;*/
    margin: auto;
  }

  .product_data_input
    {
    	line-height: 10px;
      width: 150px;
    	background-color : #d1d1d1;
    }

    page-transport {
 
    	.product_list {
      		max-height: 350px;
      		overflow-y: scroll;
    	}
	}

	.ion-list-viewport {
  		max-height: 200px;
  		width:100%;
  		display:block !important;
  		overflow:scroll !important;
	}
}
