page-shop {

	.column_1 {
  		float: left;
  		width: 80%;
  		padding: 10px;
	}

	.column_2 {
  		float: left;
  		width: 20%;
  		padding: 10px;
	}

	.icon_padding {
		margin-right: 10px;
	}

	.payment_button {
		width:150px;
	}

	.align-right {
		text-align: right;
		padding: 10px 10px 0px 10px;
	}

	.cart {
	    border: 2px solid #aaaaaa;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.ion-list-viewport {
    	border: 2px solid #dddddd;
    	text-align: left;
    	padding: 0px 0px 0px 0px;
	}

	.product_name_cell {
		width:200px;
	}

	.product_line_button {
		height:20px;
		padding: 5px 5px 5px 5px;
	}

	.product_line {
		height:20px
	}

	td, th {
    	border: 1px solid #dddddd;
    	text-align: left;
    	padding: 0px 5px 0px 5px;
	}

	.th_narrow_centered {
		text-align: left;
		width:25px;
	}

	.counter_cell {
		text-align: center;
	}

}
