
<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Julkaisumyynti</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<div class="row">

  <table class="table_main_frame">
  	<tr>
  	
  	  <!-- HEADER -->
  	  <td class="table_main_header">
        Ostoskorissa {{productsInCart}} tuotetta, yhteensä {{totalSumAsString}} euroa
      </td>
      <td style="text-align: center" td width = "150px">
	    Kassa:
	    <select id="current_cashier">
	      <option></option>
	      <option *ngFor="let cashier of cashiers">{{cashier.firstName}}</option>
	    </select>
      </td>
      <td style="text-align: center" td width = "50px">
        <button ion-button class="product_line_button" (click)="onLogout()">
            Kirjaudu ulos
         </button>
  	  </td>
  	</tr>
  	<tr>
  	
  	  <!-- *** LEFT PANEL *** -->
  	  <td class="table_left_column">
  	  
  	    <!-- SHOPPING CART -->
	    <table class="table_shopping_cart" style="width:100%">
	      <tr>
	        <th>Nimi</th>
	        <th class="th_narrow_centered">Saldo</th>
	        <th class="th_narrow_centered">Hinta</th>
	        <th class="th_narrow_centered"></th>
	        <th class="th_narrow_centered">Määrä</th>
	        <th class="th_narrow_centered"></th>
	        <th class="th_narrow_centered">Yht.</th>
	        <th class="th_narrow_centered">Poista</th>
	      </tr>
	      <tr *ngFor="let item of cartContent let i = index">
	        <td style="">{{item.productName}}</td>
	        <td class="counter_cell">{{item.amountInStock}}</td>
	        <td>{{item.priceAsString}}</td>
	        <td class="counter_cell">
	          <button ion-button class="product_line_button" (click)="increase(item, i)">
	            <ion-icon name="add" item-start></ion-icon>
	          </button>
	        </td>
	        <td class="counter_cell">{{item.quantity}}</td>
	        <td class="counter_cell">
	          <button ion-button class="product_line_button" (click)="decrease(item, i)">
	            <ion-icon name="remove" item-start></ion-icon>
	          </button>
	        </td>
	        <td>{{item.totalAsString}}</td>
	        <td class="counter_cell">
	          <button ion-button class="product_line_button" (click)="removeProduct(item.productName, i)">
	            <ion-icon name="trash" item-start></ion-icon>
	          </button>
	        </td>
	      </tr>
	    </table>
  	    <tr>
  	    
  	      <!-- PRODUCT INPUT FIELDS -->
  	      <td class="table_product_input_fields">
  	         <table class="table_2">
		      <tr>
		        <td>
		          <ion-input [(ngModel)]="productNameInitials" placeholder="Tuotteen nimi" (click)="onInputClicked()" (ionChange)="onProductNameUpdated()" name="productName"></ion-input>
		        </td>
		        <td>
		          <ion-input type="number" [(ngModel)]="productNumberInitials" placeholder="Tuotenumero" (click)="onInputClicked()" (ionChange)="onProductNumberUpdated()" name="productNumber"></ion-input>
		        </td>
		        <td width = "80px">
		          <ion-input placeholder="Hinta" [disabled] = "true"></ion-input>
		        </td>
		        <td width = "80px">
		          <ion-input placeholder="Saldo" [disabled] = "true"></ion-input>
		        </td>
		      </tr>
		      <tr *ngFor="let element of searchResult; let i = index" (click)="onProductSelected(element.productName, i)" >
		        <td class="product_data_input">
		          {{element.productName}}
		        </td>
		        <td class="product_data_input">
		          {{element.ISBN}}
		        </td>
		        <td class="product_data_input">
		          {{element.price}}
		        </td>
		        <td class="product_data_input">
		          {{element.amountInStock}}
		        </td>
		      </tr>
		    </table>
  	      </td>
  	    </tr>
  	  </td>
  	  
  	  <!-- *** RIGHT PANEL *** -->
  	  <td class="table_right_column" colspan="2">
  	  
  	    <!-- PAYMENT BUTTONS start -->
	    <table class="payment_button_panel" style="width:100%">
	      <tr>
	        <td style="text-align: center">
	          <button ion-button class="payment_button" id="card_button" [disabled]="checkIfCardPaymentEnabled()" (click)="cardPayment()">
	            <ion-icon name="card" item-start> Korttimaksu</ion-icon>
   	          </button>
	        </td>
	      </tr>
	      <tr>
	        <td style="text-align: center">
	          <button ion-button class="payment_button" id="cash_button" [disabled]="checkIfCashPaymentEnabled()" (click)="cashPayment()">
	            <ion-icon name="cash" item-start> Käteinen</ion-icon>
	          </button>
	        </td>
	      </tr>
	      <!-- PAYMENT BUTTONS end --> 

	      <!-- CHAT start -->
	      <tr>
	        <td>
	          <table class="chat_view">
	            <tr>
	              <td colspan="2">
    		        <table>
    		          <div class="chat_box">
    		            <tr  *ngFor="let entry of chatMessages let i = index">
    		              <td class="chat_lines">
    		                <div id="{{ 'chat' + i }}">
    		                  <b>{{entry.from}}:</b> {{entry.message}}
    		                </div>
    		              </td>
    		            </tr>
    		          </div>
    		        </table>
			      </td>
			    </tr>
			    <tr>
			      <td>
			        <div class="chat_input_box">
			          <ion-input [(ngModel)]="chatMessage" placeholder="Kirjoita viesti..." (click)="onInputClicked()"></ion-input>
			        </div>
			  	  </td>
			  	  <td>
    		        <button ion-button class="send_button" (click)="saveChat()">
       			      <ion-icon name="send" item-start></ion-icon>
    		        </button>
    		      </td>
    		    </tr>
    		  </table>
    		</td>
	      </tr>
	      <!-- CHAT end -->
    
	      <!-- RECEIPT start -->
	      <tr>
	        <div id="receipt_view">
      		  <p>Viimeisin kuitti:<p>
      		  <table class="receipt" style="width:100%">
		        <tr>
		          <th>Tuote</th>
		          <th>Hinta</th>
		          <th>Määrä</th>
                  <th>Yht.</th>
		        </tr>
		        <tr  *ngFor="let item of receiptContent let i = index">
		          <td>{{item.productName}}</td>
		          <td>{{item.priceAsString}}</td>
		          <td>{{item.quantity}}</td>
		          <td>{{item.totalAsString}}</td>
		        </tr>
                <tr>
		          <td></td>
		          <td></td>
		          <td></td>
		          <th>{{receiptTotalSumAsString}}</th>
		        </tr>
		      </table>
		    </div>
	      </tr>
	      <!-- RECEIPT end -->
	      
	    </table>
  	  </td>
  	</tr>
  </table>
</div>
</ion-content>
