page-shop {

	.table_main_frame {
	    width: 100%;
		margin-bottom: 10px;
	}

	.table_main_header {
		border: 1px solid #dddddd;
	}

	.table_left_column {
		vertical-align: top;
	}

	.table_shopping_cart {
	    font-size: 70%;
        border: 2px solid #aaaaaa;
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: #ccaaaa;
	}

	.table_product_input_fields{
	    border: 1px solid #dddddd;
	}

	.table_right_column {
		vertical-align: top;
	}

	.table_payment_buttons {
	}

	.table_receipt_view {
	}

	.chat_view {
	}

    .shopping_cart_summary {
        margin-left: 10px;
        border: 1px solid #dddddd;
    }
    
	.column_1 {
  		float: left;
  		width: 75%;
  		padding: 10px;
	}

	.cart {
	    font-size: 70%;
        border: 2px solid #aaaaaa;
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: #ccaaaa;
	}
	
	.receipt {
	    font-size: 70%;
	}
	
	.chat_box {
		height:120px;
		width:200px;
		font-size: 70%;
		border:1px solid #ccc;
		overflow:auto;
	}
	
	.chat_input_box {
		height:30px;
		//width:160px;
		width: 100%;
		font-size: 70%;
		border:1px solid #ccc;
		overflow:auto;
	}
	
	.column_2 {
  		float: right;
  		width: 25%;
  		padding: 10px;
  		margin-top: 20px;
		margin-bottom: 10px;
	}

	.icon_padding {
		margin-right: 10px;
	}

    .payment_button {
        font-size: 70%;
        font-size: 70%; 
    	width:100px;
    }

	.confirm_button {
	    font-size: 70%;
    	display: table;
    	margin: 0 auto;
		width:100px;
	}

	.cancel_button {
	    font-size: 70%;
    	display: table;
    	margin: 0 auto;
		width:80px;
	}

	.align-right {
		text-align: right;
		padding: 10px 10px 0px 10px;
	}

	.payment_button_panel {
	    align:top;
		width:100%;
		border: collapse;
	}
	
	.ion-list-viewport {
    	border: 2px solid #dddddd;
    	text-align: left;
    	padding: 0px 0px 0px 0px;
	}

	.product_line_button {
	    font-size: 70%;
		height:20px;
		padding: 5px 5px 5px 5px;
	}

	.product_line {
		height:20px
	}
	
	.product_data_input {
		padding: 5px 5px 5px 5px;
	}

	td, th {
    	border: 1px solid #dddddd;
    	text-align: left;
    	padding: 0px 5px 0px 5px;
	}

	.th_narrow_centered {
		padding: 0px 5px 0px 5px;
		text-align: center;
		width:25px;
	}

	.counter_cell {
		text-align: center;
	}
	
	.ion_item_prop {
	    font-size: 70%;
	}
	
	.ion_item_prop_h {
	    font-size: 70%;
	    width:100px;
	}
}
