<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tuotepäivitys</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <table class="table_1" border="1">
    <tr>
      <td>
        Nimi:
      </td>
      <td>
        &nbsp;
        <ion-input class="product_data_input" [(ngModel)]="productNameInitials" placeholder="Tuotteen nimi" (click)="clearProductName()" (ionChange)="onProductNameUpdated()" name="productName"></ion-input>
        <div id="product_name_list">
          <ion-list class="product_list">
            <ion-item text-wrap *ngFor="let element of searchResult; let i = index" (click)="onProductSelected(element.productName, i)" >      
              {{element.productName}}
            </ion-item>
          </ion-list>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Tuotenumero:
      </td>
      <td>
        &nbsp;
        <ion-input type="number" class="product_data_input" [(ngModel)]="productNumberInitials" placeholder="Tuotenumero" (ionChange)="onProductNumberUpdated()" name="productNumber"></ion-input>
        <div id="product_number_list">
          <ion-list class="product_list">
            <ion-item text-wrap *ngFor="let element of searchResult; let i = index" (click)="onProductSelected(element.productName, i)" >      
              {{element.ISBN}}
            </ion-item>
          </ion-list>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Tuotekoodi:
      </td>
      <td>
        &nbsp;
        <ion-input type="number" class="product_data_input" [(ngModel)]="productCode" placeholder="Tuotekoodi" (ionChange)="onProductCodeUpdated()" name="productCode"></ion-input>
      </td>
    </tr>
    <tr>
      <td>
        Hinta:
      </td>
      <td>
        &nbsp;<input class="input_narrow" [(ngModel)]="price">
      </td>
    </tr>
    <tr>
      <td>
        Varastosaldo [{{previousAmountInStock}}]:
      </td>
      <td>
        &nbsp;
        <button ion-button round button (click)="reduceAmount()">-</button>
        <input class="input_narrow" [(ngModel)]="amountInStock">
        <button ion-button round button (click)="increaseAmount()">+</button>
      </td>
    </tr>
    <tr>
      <td>
        Tuotannossa:
      </td>
      <td>
        &nbsp;<ion-checkbox [(ngModel)]="inProduction"></ion-checkbox>
      </td>
    </tr>
    <tr>
      <td>
        Invetaariokorjaus:
      </td>
      <td>
        &nbsp;<ion-checkbox [(ngModel)]="inventoryCorrection"></ion-checkbox>
      </td>
    </tr>
  </table>

  <!--
  <ion-input readonly class="product_data_input" [(ngModel)]="productNumber" placeholder="Tuotenumero"></ion-input>
  <ion-input readonly class="product_data_input" [(ngModel)]="productName" placeholder="Tuotenimi"></ion-input>
  <ion-input class="product_data_input" [(ngModel)]="price" placeholder="Hinta"></ion-input>
  <ion-input class="product_data_input" [(ngModel)]="amountInStock" placeholder="Varastosaldo"></ion-input>
  -->

  <p>
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <button ion-button round full class="wide_button" (click)="readProduct()">Lue tuote</button>
      </ion-col>
      <ion-col>
        <button ion-button round full color="secondary" (click)="saveProduct()">Tallenna</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round full (click)="addProduct()">Lisää tuote</button>
      </ion-col>
      <ion-col>
        <button ion-button round full (click)="removeProduct()">Poista tuote</button>
      </ion-col>
      <ion-col>
        <button ion-button round full color="danger" (click)="cancel()">Peruuta</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button round full (click)="importProducts()">Tuo tuotteet</button>
    </ion-row>
  </ion-grid>
  <p>
  
  <!--ion-content-->
  <!--/ion-content-->
  <!--button ion-button secondary menuToggle>Toggle Menu</button-->
</ion-content>
