page-productUpdate {

    .table_1 tr
    {
		line-height: 12px;
    }

    td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 5px 5px 5px 5px;
	}

	.input_narrow
	{
		width:40px;
		height: 30px;
		background-color : #d1d1d1;
		padding: 0px 5px 8px 5px;
	}

	.input_narrow_button
	{
		width:40px;
		height: 30px;
		background-color : #d1d1d1;
	}

    .product_data_input
    {
		background-color : #d1d1d1;
    }
}
