<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kassan hallinta</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-list>
	<ion-item>
		<ion-label>Testimoodi</ion-label>
		<ion-toggle [(ngModel)]="testMode" (ionChange)="onTestModeChanged()"></ion-toggle>
  	</ion-item>
</ion-list>
Myynnin kokonaisarvo: {{soldValue}}
<br>
<button ion-button round  (click)="getSoldItems()">Tänään myydyt</button>
<button ion-button round  (click)="getSoldValue()">Koko myynnin arvo</button>
<button ion-button round  (click)="getProductsToBeOrdered()">Loppumassa olevat tuotteet</button>
<button ion-button round  (click)="getProductsNotKeptInStock()">Tuotteet joita ei pidetä varastossa</button>
<button ion-button round  (click)="initProductListBu()">Varmuuskopioi tuotetietokanta</button>
<button ion-button round  (click)="initSoldProductsBu()">Varmuuskopioi tiedot ostoista</button>
<button ion-button round  (click)="initReceiptsBu()">Varmuuskopioi kuitit</button>
<button ion-button round  (click)="doPtTest()">Suorita PT testi</button>
<!--button ion-button round  (click)="connectToPT()">Yhdistä maksupäätteeseen</button-->
<!--button ion-button round  (click)="disconnectPT()">Katkaise yhteys</button-->
<br>
<div id=productTable>
	<table class="products">
		<caption>Loppumassa olevat tuotteet</caption>
		<thead>
			<tr>
				<th id="thProductName">Tuotenimi</th>
				<th id="thInShelf">Hyllyssä</th>
				<th id="thSKC">SKC</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let element of searchResults; let i = index" [ngClass]="{'odd': 0 !== i % 2}">
				<td>{{element.productName}}</td>
				<td id="tdInShelf">{{element.amountInStock}}</td>
				<td id="tdSKC">{{element.stockKeepingCount}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div id=soldItems>
	<table class="products">
		<caption>Tänään myydyt tuotteet</caption>
		<thead>
			<tr>
				<th id="thProductName">Tuotenimi</th>
				<th id="thInShelf">Määrä</th>
				<th id="thSKC">Kuitti nr</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let element of soldItems; let i = index" [ngClass]="{'odd': 0 !== i % 2}">
				<td>{{element.productName}}</td>
				<td id="tdInShelf">{{element.quantity}}</td>
				<td id="tdSKC">{{element.receiptNr}}</td>
			</tr>
		</tbody>
	</table>
</div>
</ion-content>
